<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TooCoolCats's Coupons - TooCoolCats.com</title>
    <%= favicon_link_tag '//toocoolcats.com/wp-content/uploads/2021/08/toocoolcats2-280x280.jpg' %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-controller-path="<%= controller_name %>" data-action-name="<%= action_name %>">
    <%= yield %>
  </body>
</html>